BasedOnStyle: Google

UseTab: Never
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -3

DerivePointerAlignment: false
PointerAlignment: Right

BreakBeforeBraces: Allman

IndentCaseLabels: false

SpacesBeforeTrailingComments: 1

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive

IndentPPDirectives: AfterHash

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: False
